.profile-user-info {
  display: flex;
  margin-bottom: 10px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 40px 20px;
}

.profile-avatar,
.profile-default-image {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.profile-page {
  width: 900px;
  margin: auto;
}

.update-profile {
  position: absolute;
  height: 200px;
  width: 200px;
  cursor: pointer;
  opacity: 0;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: larger;
}
.update-profile:hover {
  background-color: rgba(255, 255, 255, 0.753);
  opacity: 1;
}

.update-profile > div {
  border: 3px solid black;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}

.profile-user-info > button {
  height: 40px;
  width: 100px;
  margin: 40px 0px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(177, 133, 13, 0.153);
}

.profile-text > div,
.profile-text > label {
  font-weight: bold;
  height: 30px;
  font-size: large;
}

.profile-user-info > div span {
  font-weight: normal;
}

.profile-text > * input {
  border: none;
  cursor: pointer;
}

.profile-reactions {
  width: 600px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
}

.profile-bottom,
.friends-buttons {
  display: flex;
}

.profile-friends {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  width: 187px;
  height: 310px;
}

.profile-friends > * button {
  width: 93.5px;
  height: 20px;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.friends-true {
  background-color: rgba(177, 133, 13, 0.153);
}
.friends-false {
  background-color: white;
}

.friends-list {
  border: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  width: 187px;
  height: 290px;
}

.profile-no-reactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  top: 150px;
  left: 150px;
  width: 300px;
  margin: auto;
  height: 55px;
  padding-left: 0px;
  rotate: -20deg;
  color: red;
  border: 3px red outset;
  justify-content: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.218);
  background-color: white;
  font-weight: bold;
}

.no-reaction-container {
  position: absolute;
}

.profile-default-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 80px;
  border-radius: 100px;
}
