a.book-preview {
  display: flex;
  height: 350px;
  width: 200px;
  color: black;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-preview-content > img {
  width: 200px;
  object-fit: contain;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.43);
}

.book-preview-content > h5 {
  margin: 3px ;
  padding: 0px;
  font-weight: lighter;
  text-overflow: ellipsis;
}

.book-preview-content > h3 {
  margin: 3px;
  padding: 0px;
  text-overflow: ellipsis;
}
