a.book-preview {
  display: flex;
  height: 350px;
  width: 200px;
  color: black;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-preview-content > img {
  max-width: 200px;
  max-height: 300px;
  object-fit: contain;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.43);
}

.book-preview-content > h5 {
  margin: 3px;
  padding: 0px;
  font-weight: lighter;
  text-overflow: ellipsis;
  max-width: 160px;
}

.book-preview-content > h3 {
  margin: 3px;
  padding: 0px;
  text-overflow: ellipsis;
  max-width: 160px;
}

.favorite-star {
  position: relative;
  bottom: 50px;
  left: 190px;
  width: 10px;
  height: 10px;
  font-size: x-large;
  cursor: pointer;
}

.progress-bar {
  height: 10px;
  width: 190px;
  border: 1px solid black;
  margin: 3px 5px;
}
