.book-opener {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.book-preview > img {
  object-fit: contain;
  max-width: calc(100vw / 2);
  max-height: calc(100vh - 51px);
}
.book-preview {
  margin: auto;
}

.book-opener {
  overflow-y: hidden;
}

.book-title-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid rgba(0, 0, 0, 0.119);
}

.book-content {
  font-size: x-large;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: "Times New Roman", Times, serif;
  line-height: 40px;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
  padding: 1em 20vw;
  margin: 0px;
}


.comment {
  border-bottom: 3px double rgba(200, 150, 13, 0.833);
  cursor: pointer;
  padding-bottom: 5px;
  position: static;
}

.comment-content {
  display: flex;
  border-bottom: 1px solid black;

  font-size: medium;
  margin-left: 8px;
  width: 350px;
  height: 175px;
  padding-top: 5px;
}

.comment-holder {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: rgb(250, 236, 227);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  width: 380px;
  height: 180px;
  bottom: 1px;
  left: 34%;
  overflow-y: auto;
}

.user-comment {
  border-bottom: 3px double rgba(200, 150, 13, 0.833);
}

.delete-comment {
  position: relative;
  height: 0px;
  width: 0px;
  right: 46px;
  top: 90px;
  cursor: pointer;
  font-size: larger;
  color: rgb(255, 131, 131);
}

.comment-avatar {
  width: 50px;
  height: 50px;
  margin: 0px 0px;
  border-radius: 40px;
  object-fit: contain;
  margin-right: 5px;
  cursor: pointer;
}
.comment-no-avatar {
  background-color: rgb(249, 152, 87);
  width: 40px;
  height: 40px;
  margin: 5px 5px;
  margin-right: 10px;
  border-radius: 40px;
  object-fit: contain;

  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.comment-user {
  font-weight: bold;
  padding-top: 16px;
  height: 20px;
}

.comment-message {
  overflow-y: auto;
  word-wrap: break-word;
  height: 80px;
  width: 290px;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
}

.edit-message {
  resize: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.comment-reactions {
  height: 50px;
  width: 290px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.add-emoji {
  position: relative;
  top: 7px;
  left: 12px;
  font-size: x-small;
  font-weight: bold;
}

.add-reaction {
  position: relative;
  height: 0px;
  width: 0px;
  cursor: pointer;
  color: gray;
  left: 10px;
  top: 130px;
}

.reaction-display {
  border: 1px solid gray;
  border-radius: 8px;
  margin: 3px;
  width: 35px;
  font-size: 13px;
}

.comment-menu {
  display: flex;
  position: fixed;
  padding: 5px;
  width: 380px;
  bottom: 187px;
}
.close-comment {
  display: flex;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  font-size: larger;
  width: 20px;
  border: 1px solid black;
  border-bottom: none;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.comment-selected {
  background-color: rgba(246, 200, 73, 0.552);
}

.comment-unselected {
  background-color: none;
}

.new-comment {
  background-color: rgb(255, 203, 181);
  width: 80px;
}
.add-comment {
  background-color: rgb(181, 219, 255);
  width: 110px;
}
.definition {
  background-color: rgb(186, 255, 181);
  width: 80px;
}

.menu-not-selected {
  font-weight: normal;
}

.menu-selected {
  font-weight: bold;
}

.menu-choice {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid black;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 3px;
  cursor: pointer;
  margin-right: 1px;
  text-align: center;
}

.close-comment {
  position: absolute;
  right: 10px;
  /* margin-left: 55px; */
  background-color: rgb(254, 108, 108);
  color: white;
}

.definition-content {
  padding: 10px;
}

.definition-content > h3 {
  margin: 0px;
  margin-bottom: 10px;
}
