.login-modal {
  border: rgb(97, 97, 114) 1px solid;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
}

.login-modal > form {
  display: flex;
  flex-direction: column;
}

.login-modal > * button {
  height: 35px;
  width: 100px;
  margin: 0px auto;
  margin-top: 20px;
  background-image: linear-gradient(
    rgb(251, 240, 198),
    rgb(247, 214, 117),
    rgb(235, 219, 163)
  );
  color: black;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid black;
}

.login-modal > h2 {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.login-modal > * label {
  margin-top: 10px;
  font-weight: bold;
}

.login-modal > * p {
  margin: 0px;
  padding: 0px;
  color: red;
}

.login-modal > * input {
  height: 25px;
}
