.club-modal-options {
  height: 510px;
  width: 450px;
  background-color: white;
  border: 1px black solid;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.club-options-button {
  background-color: white;
  height: 40px;
  width: 250px;
  font-size: medium;
  margin: 5px 10px;
  color: white;
  font-weight: bold;
}

.delete-yes {
  background-color: rgb(251, 74, 74);
}

.delete-no {
  background-color: gray;
}

.club-options-delete {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.club-options-members {
  height: 360px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.club-modal-options > h2 {
  margin: 0px 0px;
  margin-bottom: 20px;
  padding: 0px;
}

.club-modal-options > * h3 {
  margin: 0px 0px;
  padding: 0px;
}

.club-member-tile {
  display: flex;
  border: 1px solid black;
  width: 250px;
  justify-content: space-between;
  padding: 10px;
  margin: 2px 0px;
}

.club-add-member {
  display: flex;
  height: 40px;
  width: 320px;
  align-items: center;
  margin: 10px;
}

.club-current-members {
  height: 280px;
  overflow-y: auto;
  padding: 0px 20px;
  border: 1px solid black;
}

.club-add-member > input {
  height: 20px;
  width: 180px;
  margin: 0px 3px;
}
