.Side-Panel {
  display: flex;
  position: absolute;
  min-height: calc(100vh - 51px);
  min-width: 100vw;
}

.side-panel-component {
  background-color: white;
  color: black;
  min-width: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: solid rgb(81, 81, 102) 1px;
  min-height: 90vh;
  overflow-y: auto;
}

.side-panel-component > * a,
.side-panel-component > * div {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px;
  padding: 5px 10px;
  border: none;
  background-color: white;
}

.side-panel-component > ul {
  margin: 0px;
  padding: 0px;
}

.side-panel-component > * h4 {
  display: flex;

  margin: 0px;
  padding: 10px;
  /* border-bottom: solid rgb(81, 81, 102) 1px; */
}

.side-panel-component > * a,
.side-panel-component > * div {
  margin: 0px 40px;
  border-radius: 5px;
}

.side-panel-component > * h4 > span {
  margin-left: 10px;
}

/* check if needed */
.side-item > * a {
  color: black;
  text-overflow: ellipsis;
}

.side-panel-component .active,
.side-panel-component > * div .active {
  background-color: rgba(200, 150, 13, 0.532);
}
.side-panel-component > * a:hover,
.side-panel-component > * div:hover {
  background-color: rgba(177, 133, 13, 0.153);
  cursor: pointer;
}

.side-panel-component > * div {
  font-style: oblique;
  font-size: medium;
}

.toggle-menu > * i {
  margin-right: 10px;
}
