.Side-Panel {
  display: flex;
  position: absolute;
  min-height: calc(100vh - 51px);
  min-width: 100vw;
}

.side-panel-component {
  background-color: white;
  color: black;
  min-width: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: solid rgb(81, 81, 102) 1px;
  min-height: 90vh;
  overflow-y: auto;
}

.side-panel-component > * a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px;
  padding: 10px 10px;
  /* border-bottom: 1px solid rgb(81, 81, 102); */
}

.side-panel-component > ul {
  margin: 0px;
  padding: 0px;
}

.side-panel-component > * h4 {
  display: flex;

  margin: 0px;
  padding: 10px;
  /* border-bottom: solid rgb(81, 81, 102) 1px; */
}

.side-panel-component > * a {
  margin-left: 40px;
}

.side-panel-component > * h4 > span {
    margin-left: 10px;
  }

/* check if needed */
.side-item > * div {
  display: flex;
  align-items: center;
  justify-content: start;
  white-space: nowrap;
  overflow: hidden;
}

.side-item:hover .item-ellipsis {
  visibility: visible;
}

.item-ellipsis {
  visibility: hidden;
  margin-left: 5px;
}

.side-panel-component > * .toggle-menu {
  cursor: pointer;
}

.side-item .active {
  background-color: rgba(255, 255, 255, 0.19);
}

.toggle-menu > * i {
  margin-right: 10px;
}
